body{
    padding: 0;
    margin: 0;
}
header, footer{
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    text-align: center;
}
nav{display: flex;}
nav a{
    text-decoration: none;
    color: blanchedalmond;
    text-align: center;
    flex: 1;
}
main{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(216, 216, 104);
    padding: 10px 0;
    min-height: 500px;
}
/*MENU PAGE*/
.flex{
    display:flex;
    flex-wrap: wrap;
}
.menu article{
    border:  1px solid black;
    background-color: white;
    margin: 10px;
    min-width: 200px;
    padding: 10px;
}
/*RESERVATION PAGE*/
.reservation svg{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}
/*Calendar*/
.monthPre{
    color: gray;
    text-align: center;
   }
   .monthNow{
    color: blue;
    text-align: center;
   }
   .dayNow{
    border: 2px solid black;
    color: #FF0000;
    text-align: center;
   }
   .calendar td{
    htmlContent: 2px;
    width: 40px;
   }
   .monthNow th{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
   }
   .dayNames{
    background: #0FF000;
    color: #FFFFFF;
    text-align: center;
   }